/* ------------------------------- DISPOSICIÓN ------------------------------- */
.head {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 1000; /* Para que siempre esté encima */
}
.head1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 22rem;
  width: 100%;
  padding: 0.5rem;
  padding-left: 4.5rem;
  height: 4.5rem;
  background-color: rgb(34, 34, 34);
  color: white;
}
.head2 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.2rem;
  background-color: rgba(42, 42, 42);
  padding: 0.3rem;
}
.head3 {
  height: 1.9rem;
  background-color: rgba(54, 54, 54);
}
.head4 {
  height: 0.9rem;
  background-color: rgb(62, 62, 62);
  box-shadow: 0 0.6em 0.6em black;
}
/* ------------------------------- MENÚ HAMBURGUESA ------------------------------- */
.head_nav {
  display: none;
}

/* ------------------------------- LOGO Y NOMBRE ------------------------------- */
.head_btn-logo {
  position: absolute;
  top: 50%; /* Centrado vertical */
  left: 50%; /* Centrado horizontal */
  transform: translate(-50%, -50%);
  background-color: rgb(34, 34, 34);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 16rem;
  aspect-ratio: 1 / 1; /* ancho : alto */
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0.6em 0.6em black;
}
.head_logo-principal {
  width: 85%;
  border-radius: 50%;
  object-fit: cover;
}
.head_h1 {
  text-align: right;
  font-size: 2rem;
  max-width: 30em;
}

/* ------------------------------- BUSCADOR ------------------------------- */
.head1_buscador-y-nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  max-width: 30rem;
}
.head_buscador-formulario {
  width: 100%;
}
.head_contenedor-buscador {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 1rem;
  height: 2.5rem;
  overflow: hidden; /* Para que no se salga nada */
}
.head_barra-buscador {
  width: 100%;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem 1rem;
  color: black;
  outline: none; /* quita el borde negro que sale al escribir */
}
.resultados_busqueda_tiempo_real {
  position: absolute;
  top: 100%; /* Lo posicionamos justo debajo del campo de búsqueda */
  left: 0;
  right: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(244, 246, 247, 0.5);
  color: black;
  width: 100%;
  border-radius: 1.5rem;
  z-index: 100;
}
.opcion_juego {
  cursor: pointer;
  width: 90%;
  font-size: 2rem;
  overflow: hidden;
  white-space: nowrap; /* Evita que el texto se pase a la siguiente línea */
  overflow: hidden; /* Oculta el texto que sobresale */
  text-overflow: ellipsis; /* Agrega puntos suspensivos "..." al final si el texto se corta */
}
.opcion_juego:hover {
  width: 100%;
  background-color: rgba(42, 42, 42, 0.8);
  color: white;
}
.head_btn-lupa {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
.head_icono-lupa {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.6;
  transition: transform 0.3s ease, opacity 0.3s ease; /* animación suave */
}
.head_btn-lupa:hover .head_icono-lupa {
  transform: scale(1.2); /* aumenta ligeramente */
  opacity: 1; /* totalmente opaca */
}

/* ---------------------- BIENVENIDO/REGISTRO/LOGIN ---------------------- */
.head2_bienvenido,
.head2-btns,
.head2_btns-login {
  display: flex;
  align-items: center;
  justify-content: center;
}
.head2_bienvenido {
  gap: 22rem;
  padding-right: 2.6rem;
}
.head2-btns {
  gap: 1rem;
}
.head2_btns-login {
  gap: 20rem;
  padding-right: 2rem;
}
.head_btn-login,
.head_usuario {
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.head_btn-perfil {
  display: inline-block;
  background-color: #c8c8c8;
  padding: 0.2rem 0.6rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
.head_btn-registro,
.head_btn-logout {
  display: inline-block;
  padding: 0.1rem 1rem;
  background-color: #c8c8c8;
  color: black;
  border-radius: 0.5rem;
  font-size: 2.2rem;
  text-decoration: none;
  border: none;
  cursor: pointer;
}
.head_btn-registro:visited {
  color: black;
}

/* ------------------------------------------------------------------------ */
/* ---------------------------- RESPONSIVE !!! ---------------------------- */
/* ------------------------------------------------------------------------ */
@media (max-width: 768px) {
  /* -------- HEAD 1 -------- */
  .head1 {
    gap: 18rem;
    padding: 0.2rem;
    padding-left: 0;
    height: 3.5rem;
  }
  /* - TITULO - */
  .head_h1 {
    flex: 1;
    text-align: right;
    font-size: 2rem;
    max-width: 18em;
  }
  /* - LOGO - */
  .head_btn-logo {
    max-width: 14rem;
  }
  /* - BUSCADOR - */
  .head1_buscador-y-nav {
    flex: 1;
    max-width: 26em;
  }
  .head_barra-buscador {
    font-size: 1.5rem;
    padding: 0;
    padding-left: 0.5em;
  }
  .resultados_busqueda_tiempo_real {
    background-color: rgba(244, 246, 247, 0.8);
  }
  .head_icono-lupa {
    width: 1.4rem;
    height: 1.4rem;
  }

  /* -------- HEAD 2 -------- */
  .head2 {
    height: 2.7rem;
    padding: 0.3rem;
  }

  /* - BIENVENIDO/REGISTRO/LOGIN - */
  .head_usuario {
    padding-left: 0.4em;
  }
  .head2_bienvenido {
    gap: 18rem;
    padding-right: 0;
  }
  .head2-btns {
    gap: 1rem;
  }
  .head2_btns-login {
    gap: 18rem;
    padding-right: 1.4rem;
  }
  .head_btn-login,
  .head_usuario {
    font-size: 2.2rem;
  }
  .head_btn-perfil {
    padding: 0.1rem 0.4rem;
    border-radius: 0.5rem;
  }
  .head_btn-registro,
  .head_btn-logout {
    padding: 0 1rem;
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  /* -------- HEAD 1 -------- */
  .head1 {
    gap: 11.5rem;
    padding: 0.5rem;
    height: 3rem;
  }
  /* - TITULO - */
  .head h1 {
    flex: 1;
    font-size: 1.3rem;
    max-width: 30rem;
  }
  /* - LOGO - */
  .head_btn-logo {
    max-width: 11rem;
  }
  .head_logo-principal {
    width: 90%;
  }
  /* - BUSCADOR - */
  .head1_buscador-y-nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
  }
  .head_contenedor-buscador {
    height: 2rem;
  }
  .head_barra-buscador {
    font-size: 1.2rem;
    padding-left: 0.6em;
  }
  .resultados_busqueda_tiempo_real {
    background-color: rgba(244, 246, 247, 0.8);
    color: black;
  }
  .opcion_juego {
    margin: 0.2em;
    font-size: 1.5rem;
  }
  .head_icono-lupa {
    width: 1.3rem;
    height: 1.3rem;
  }
  /* - MENÚ HAMBURGUESA - */
  .head_nav {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 34, 34, 0);
    color: white;
  }
  .head_menu-hamburguesa {
    width: 100%;
    height: auto;
  }
  .head_btn-menu {
    background: none;
    border: none;
    cursor: pointer;
  }
  .head_menu {
    /* Lista del menú (oculta por defecto) */
    display: none;
    background-color: rgba(34, 34, 34, 1);
    max-width: 40%;
    list-style: none;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    right: 0;
    text-align: left;
    font-size: 2rem;
    gap: 0.5rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
  }
  .head_menu.open {
    /* Mostrar menú cuando tenga la clase .open */
    display: flex;
    padding: 0.5em;
  }
  .head_menu li a {
    color: white;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-radius: 0.5em;
    padding: 0.3em;
  }
  .head_menu li a:hover {
    /* Efecto al pasar el mouse */
    color: #00f6d1;
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* -------- HEAD 2 -------- */
  .head2 {
    height: 2.6rem;
    padding: 0.2rem;
    padding-left: 1.5rem;
  }
  /* - BIENVENIDO/REGISTRO/LOGIN - */
  .head2_bienvenido {
    gap: 13rem;
    padding-right: 0;
  }
  .head2-btns {
    gap: 1rem;
  }
  .head2_btns-login {
    gap: 13.5rem;
    padding-right: 1em;
  }
  .head_btn-login,
  .head_usuario {
    font-size: 1.9rem;
  }
  .head_btn-perfil {
    padding: 0.1rem 0.3rem;
    border-radius: 0.5rem;
  }
  .head_btn-registro,
  .head_btn-logout {
    padding: 0 0.8rem;
    font-size: 1.8rem;
  }

  /* -------- HEAD 3 -------- */
  .head3 {
    height: 1.3rem;
  }
}
