/* FONDO */
main {
  position: relative;
  min-height: 100vh;
  padding-top: 18rem;
  padding-bottom: 5%;

  display: grid;
  justify-items: center;
  align-items: center;
  overflow: hidden;
  z-index: 0;
}

main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../multimedia/imagenes/fondo1.webp");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: blur(0.6em);
  z-index: -2;
}

main::after {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.5) 50%, rgb(0, 0, 0) 100%);
  z-index: -1;
}

/* CONTENIDO */
.contenedor_principal {
  /* background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(0.4rem);
  background-color: rgba(42, 42, 42, 0.6); */
  color: white;
  width: 100%;
  max-width: 85rem;
  margin: auto;
  padding: 2rem;
  border-radius: 1.5rem;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 3rem;
}

/* -------------------- FORMULARIO -------------------- */
.fondo1-form {
  background-color: rgb(62, 62, 62, 0.8);
  width: 100%;
  padding: 0.7rem;
}
.fondo2-form {
  background-color: rgba(54, 54, 54, 0.8);
  padding: 1.2rem;
}
.fondo1-form,
.fondo2-form {
  border-radius: 2rem;
}
.formulario {
  background-color: rgba(42, 42, 42, 0.8);
  border-radius: 2rem;
  padding: 1.5rem 3rem;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(6, 1fr); /* Se crean 6 filas dentro del grid */
  gap: 1.5rem; /* Espaciado entre elementos */
  justify-items: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  font-size: 2rem;
}

/* FILA 1 DEL FORMULARIO (TÍTULO) */
.fila1,
.fila2,
.fila3,
.fila4,
.fila5,
.fila6 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.fila1,
.fila2,
.fila3,
.fila4,
.fila6 {
  width: 100%;
}
.fila2 {
  gap: 2.5rem;
}

/* FILA 2 DEL FORMULARIO */
.buscador {
  flex: 4;
  width: 100%;
}
.multi {
  flex: 1;
}

/* FILA 3 DEL FORMULARIO */
.genero,
.plataforma {
  flex: 2;
}
.goty {
  flex: 1;
}

/* FILA 4 DEL FORMULARIO */
.duracion,
.lanzamiento {
  flex: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.label_lanzamiento,
.label_duracion {
  flex-shrink: 0;
}
.selectores_duracion,
.selectores_lanzamiento {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.obra_maestra {
  flex: 1;
}

/* FILA 5 DEL FORMULARIO */
.estrellas {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1rem;
  flex-direction: row-reverse; /* Esto es para poder aplicar el efecto mas tarde */
}

/* INPUTS */
.barra_buscador,
.generos,
.plataformas,
.minimo,
.maximo {
  width: 100%;
  height: 3rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  background-color: rgba(253, 254, 254, 0.8);
}

/* BOTONES */
.btn_buscar,
.btn_multi,
.btn_goty,
.btn_obra_maestra {
  height: 3rem;
  cursor: pointer;
}
.btn_multi,
.btn_goty,
.btn_obra_maestra {
  display: inline-block;
  border-radius: 1.5rem;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.btn_multi {
  background-image: url(../multimedia/imagenes/btn_multi_1.jpg);
}
.btn_goty {
  background-image: url(../multimedia/imagenes/btn_goty_1.PNG);
}
.btn_obra_maestra {
  background-image: url(../multimedia/imagenes/btn_obra_maestra.jpg);
}
.btn_buscar {
  background-color: #c8c8c8;
  border-radius: 0.5rem;
  width: 25%;
  font-size: 1.8rem;
  font-weight: 400;
}

/* EFECTOS */
.estrella,
input + label {
  height: 2.3rem;
  cursor: pointer;
  transition: transform 0.4s ease, filter 0.4s ease; /* Efecto suave */
}
input + label {
  filter: brightness(0.9);
}
input[type="radio"]:hover ~ label img,
input[type="radio"]:hover + label img,
input[type="checkbox"]:hover + label {
  transform: scale(1.2); /* Aumenta el tamaño */
  filter: brightness(1.2); /* Hace la imagen más brillante */
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
input[type="radio"]:checked ~ label img,
input[type="radio"]:checked + label img,
input[type="checkbox"]:checked + label {
  transform: scale(1.2);
  filter: brightness(1.4);
}

/* -------------------------------- RESULTADOS BUSQUEDA ---------------------------- */
.fondo1-resultados {
  display: none;
  background-color: rgb(62, 62, 62, 0.8);
  padding: 0.7rem;
}
.fondo2-resultados {
  background-color: rgba(54, 54, 54, 0.8);
  padding: 1.2rem;
}
.fondo1-resultados,
.fondo2-resultados {
  border-radius: 2rem;
}
#resultados {
  background-color: rgba(42, 42, 42, 0.8);
  display: grid;
  gap: 2rem;
  border-radius: 1.5rem;
  width: 100%;
  padding: 2.5rem;
  font-size: 1.3rem;
}
.resultado {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: 10.2rem;
  border: 0.2rem solid rgb(255, 255, 255);
  border-radius: 1.5rem;
}
.resultado a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
.portada {
  flex: 3;
  position: relative;
  aspect-ratio: 4 / 1.65;
  border: 0.2rem solid black;
  border-radius: 1.5rem;
  overflow: hidden;
}
.portada_imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.informacion {
  flex: 4;
  display: grid;
  gap: 1.3rem;
}
.etiquetas {
  flex: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
  padding: 0.8rem;
  width: 100%;
}
.etiqueta_goty,
.etiqueta_obra_maestra {
  width: 50%;
  object-fit: cover;
  border-radius: 2rem;
}
.etiqueta_estrellas {
  position: absolute;
  bottom: 0.5rem; /* Pegado a la parte inferior */
  left: 0.5rem; /* Pegado a la derecha */
  max-width: 10rem; /* Evita que se haga demasiado grande */
}
#paginacion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  padding-top: 1rem;
}
.btn-pagina {
  padding: 0.3rem 0.4rem;
  background-color: #c8c8c8;
  color: black;
  text-decoration: none;
  border-radius: 0.7rem;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* -------------------------------- CARRUSEL ---------------------------- */
.fondo1-carrusel {
  background-color: rgb(62, 62, 62, 0.8);
  padding: 0.7rem;
}
.fondo2-carrusel {
  background-color: rgba(54, 54, 54, 0.8);
  padding: 1.2rem;
}
.fondo1-carrusel,
.fondo2-carrusel {
  border-radius: 2rem;
}
.carrusel {
  position: relative;
  width: 100%;
  margin: auto;
  display: grid;
  gap: 1rem;
  background-color: rgba(42, 42, 42, 0.8);
  border-radius: 1.5rem;
  padding: 1rem 2.7rem;
  font-size: 1.3rem;
  text-align: center;
}
.contenedor_carrusel {
  width: 100%;
  overflow: hidden;
}
.lista_carrusel {
  display: flex;
  transition: transform 0.5s ease-in-out; /* Suaviza la animación de desplazamiento cuando las imágenes cambian */
}
.lista_carrusel li a {
  position: relative;
  display: block;
  color: white;
  border-radius: 1rem;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}
.imagen_carrusel {
  flex: 0 0 33.33%; /* Cada imagen ocupa 1/3 del carrusel */
  display: grid;
  justify-items: center;
  align-items: center;
}
.imagen_carrusel img {
  aspect-ratio: 4 / 3;
  width: 100%;
  height: 100%;
  border: solid black;
  border-radius: 1rem;
  object-fit: cover;
}
li p {
  position: absolute;
  bottom: 0.5rem;
  background: rgba(0, 0, 0, 0.774);
  padding: 0.3rem 0.5rem;
  text-align: center;
  width: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.carrusel_btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0);
  border: none;
  padding: 9.1rem 0;
  cursor: pointer;
  z-index: 10;
}
.carrusel_btn-izq {
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  left: 0.09rem;
}
.carrusel_btn-dcha {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  right: 0.1rem;
}
.carrusel_btn:hover {
  background-color: rgba(200, 200, 200, 0.7);
}
