/* FONDO */
main {
  position: relative; /* Necesario para posicionar el ::before */
  padding-top: 18rem;
  padding-bottom: 5rem;
  display: grid;
  justify-items: center;
  align-items: center;
  overflow: hidden; /* Evita que el blur sobresalga */
}

main::before {
  content: "";
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  background-image: url("../multimedia/imagenes/fondo_perfil.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(0.3em); /* El blur que quieres */
  z-index: -1; /* Detrás del contenido */
}
main::after {
  content: "";
  position: fixed;
  inset: 0;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.5) 70%, rgb(0, 0, 0) 90%);
  z-index: -1;
}

/* CONTENIDO */
.contenedor_principal {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  height: auto; /* Asegura que el contenedor principal pueda crecer */
  width: 90%;
  max-width: 100rem;
  color: white;
  padding: 1rem;
  border-radius: 2rem;
}

/* ------------  CONTENEDOR 1  -------------*/
.contenedor_1 {
  padding: 2rem;
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 3rem;
  align-self: start; /* Asegura que el contenedor 1 no se estire y solo ocupe el espacio necesario */
}

/* IMAGEN Y USUARIO */
.informacion_usuario {
  background-color: rgba(42, 42, 42, 0.7);
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 1rem;
  width: 90%;
  border-radius: 1.5rem;
  padding: 2rem;
}
.imagen_perfil {
  width: 16em;
  height: 16em;
  border-radius: 2em;
  object-fit: cover;
  box-shadow: 0 0.6em 1em rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
.informacion_usuario h2 {
  font-size: 5rem;
}

/* TOP 3 */
.top_3 {
  background-color: rgba(42, 42, 42, 0.7);
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 3rem;
  width: 90%;
  border-radius: 1.5rem;
  padding: 2rem;
}
.top_3 h2 {
  font-size: 4rem;
}
.juego_1,
.juego_2,
.juego_3 {
  position: relative;
}
.juego_1-corona,
.juego_2-corona,
.juego_3-corona {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0.6em 1em rgba(0, 0, 0, 0.8);
}

/* ORO */
.juego_1-corona {
  width: 16rem;
  height: 16rem;
  border: 12px solid rgb(212, 175, 55);
}

/* PLATA */
.juego_2-corona {
  width: 13rem;
  height: 13rem;
  border: 12px solid rgb(192, 192, 192);
}

/* BRONCE */
.juego_3-corona {
  width: 10rem;
  height: 10rem;
  border: 12px solid rgb(140, 105, 60);
}
.top_3 img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50%;
}
.btn_top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 25%;
  height: 25%;
  right: 1%;
  top: 1%;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.btn_top img {
  max-width: 70%;
  object-fit: contain;
  pointer-events: none; /* evita que la imagen bloquee el click */
}
.buscador_top_1,
.buscador_top_2,
.buscador_top_3 {
  position: relative;
  display: none;
}
.resultados_top {
  position: absolute;
  top: 100%; /* Lo posicionamos justo debajo del campo de búsqueda */
  left: 0;
  right: 0; /* Esto asegura que el ancho de los resultados no se desborde */
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(244, 246, 247, 0.8);
  color: black;
  width: 100%;
  border-radius: 1.5rem;
  z-index: 100;
  overflow: hidden;
}
.opcion_juego {
  cursor: pointer;
  width: 90%;
  font-size: 1.5rem;
  overflow: hidden;
  white-space: nowrap; /* Evita que el texto se pase a la siguiente línea */
  overflow: hidden; /* Oculta el texto que sobresale */
  text-overflow: ellipsis; /* Agrega puntos suspensivos "..." al final si el texto se corta */
}
.opcion_juego:hover {
  width: 100%;
  background-color: rgba(42, 42, 42, 0.7);
  color: white;
}

/* GESTIÓN ADMINISTRADOR */
.contenedor_gestionar_juegos {
  background-color: rgba(42, 42, 42, 0.7);
  display: grid;
  justify-items: center;
  align-items: center;
  width: 90%;
  border-radius: 1.5rem;
  padding: 1rem;
}
.contenedor_botones_gestionar_juegos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.btn_banear_usuario,
.btn_modificar_juego,
.btn_introducir_juego,
.btn_borrar_juego {
  background-color: #c8c8c8;
  border-radius: 0.7rem;
  padding: 0.2rem;
  cursor: pointer;
}
.contenedor_formularios_gestionar_juegos {
  position: fixed;
  display: none; /* oculto por defecto */
  justify-content: center;
  align-items: center;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.4rem);
  z-index: 9999;
}
.contenedor_principal form {
  display: none; /* ocultos por defecto */
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
  background-color: rgba(42, 42, 42, 0.9);
  border: ridge;
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  color: white;
  font-size: 1.6rem;
}
.contenedor_formularios_gestionar_juegos input {
  border-radius: 0.5em;
  font-size: 1.5rem;
  padding-left: 0.8rem;
  color: black;
}
.contenedor_formularios_gestionar_juegos::placeholder,
.formulario > div > input {
  color: white;
}
.item_seleccionado {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  font-size: 2rem;
}
.eliminar_item {
  cursor: pointer;
}

/* ------------  CONTENEDOR 2  -------------*/
.contenedor_2 {
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-rows: auto auto 1fr;
  gap: 0.5rem;
  border-left: 0.3rem solid;
  padding: 1.5rem;
  /* El contenedor 2 puede crecer y expandirse hacia abajo */
  overflow: auto; /* Permite que contenedor_2 se desplace si el contenido es mayor que el contenedor */
  height: auto;
}

.btn_agregar_juego {
  background-color: #c8c8c8;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.8rem;
  font-weight: 800;
  cursor: pointer;
}

/* FORMULARIO NUEVO JUEGO */
.contenedor_formulario_agregar_juego {
  position: fixed;
  display: none; /* oculto por defecto */
  justify-content: center;
  align-items: center;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(0.4rem);
  z-index: 9999;
}
.buscar_juego {
  width: 100%;
}
.valoracion,
.critica,
.etiquetas,
.guardar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.etiquetas {
  width: 80%;
}
.buscador,
.barra_busqueda_top {
  background-color: rgba(253, 254, 254, 0.8);
  width: 100%;
  height: 3rem;
  border-radius: 1.5rem;
  padding-left: 1rem;
  color: black;
}
.buscar_juego {
  position: relative;
}
.resultados_busqueda_formulario {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  background-color: rgba(244, 246, 247, 0.8);
  color: black;
  width: 100%;
  border-radius: 1.5rem;
  z-index: 100;
  overflow: hidden;
}
.estrellas {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row-reverse; /* Esto es para poder aplicar el efecto mas tarde */
}
.critica_texto {
  background-color: rgba(253, 254, 254, 0.8);
  width: 90%;
  border-radius: 1rem;
  padding: 0.8rem;
}
.obra_maestra,
.sobrevalorado {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_obra_maestra,
.btn_sobrevalorado {
  display: inline-block;
  border-radius: 1rem;
  width: 75%;
  height: 5rem;
  background-position: center;
  background-size: cover;
}
.btn_obra_maestra {
  background-image: url(../multimedia/logos/obra_maestra.jpg);
}
.btn_sobrevalorado {
  background-image: url(../multimedia/logos/sobrevalorado.jpg);
}
.btn_guardar {
  background-color: #c8c8c8;
  padding: 0 0.6em;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}

/* LISTA JUEGOS GUARDADOS  */
.lista_juegos_agregados {
  display: grid;
  gap: 2rem;
  border-radius: 1rem;
  width: 100%;
  padding: 2.5rem;
  font-size: 1rem;
}
[class^="juego_item_"] {
  display: grid;
  justify-items: center;
  align-items: center;
}
.contenedor_review {
  background-color: rgba(42, 42, 42, 0.7);
  display: grid;
  justify-items: center;
  align-items: center;
  width: 100%;
  border-radius: 1.5rem;
}
.contenedor {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  padding: 1rem;
}
.informacion {
  display: grid;
  width: 55%;
  gap: 0.2rem;
}
.informacion a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 3rem;
}
.portada {
  width: 40%;
  height: 10rem;
  border: solid black;
  border-radius: 1.5rem;
  overflow: hidden;
}
.portada_imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.etiqueta_estrellas {
  width: 70%;
}
.etiqueta {
  width: 15%;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  overflow: hidden;
}
.imagen_etiqueta {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.btn_eliminar_review {
  background-color: #c8c8c8;
  border-radius: 0.7rem;
  padding: 0.2rem;
  cursor: pointer;
}
.contenedor_critica {
  gap: 1rem;
  width: 100%;
  padding: 0 2rem 1rem;
  font-size: 1.6rem;
}
.texto_critica {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;

  text-overflow: ellipsis; /* Puntos suspensivos */
  max-height: calc(1.2em * 4); /* 4 líneas exactas */

  text-align: justify;
}
.texto_critica.expandir {
  -webkit-line-clamp: unset;
  max-height: none;
  text-overflow: unset;
}
.btn_expandir {
  justify-self: end;
  background-color: rgb(0, 246, 209, 0.4);
  width: 8rem;
  margin: 0 1rem 1rem;
  padding: 0.1em 0.2em;
  border: none;
  border-radius: 0.6rem;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
}

/* -------------------------- EFECTOS -------------------------- */

/* EFECTOS */

input + label {
  height: 2.3rem;
  cursor: pointer;
  filter: brightness(0.9);
  transition: transform 0.4s ease, filter 0.4s ease; /* Efecto suave */
}
input[type="radio"]:hover ~ label,
input[type="radio"]:hover + label,
input[type="checkbox"]:hover + label {
  transform: scale(1.2); /* Aumenta el tamaño */
  filter: brightness(1.2); /* Hace la imagen más brillante */
}

input[type="radio"]:checked ~ label,
input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
  transform: scale(1.2);
  filter: brightness(1.4);
}

/* ------------------------------------------------------------------------ */
/* ---------------------------- RESPONSIVE !!! ---------------------------- */
/* ------------------------------------------------------------------------ */
@media (max-width: 480px) {
  main {
    padding-top: 15rem;
    padding-bottom: 3rem;
  }
  .contenedor_principal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 2rem;
    width: 100%;
  }

  /* ---- USUARIO, TOP-3 y PNEL ADMINISTRACIÓN ---- */
  .contenedor_1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    width: 100%;
    padding: 1em;
  }

  /* INFO USUARIO */
  .informacion_usuario {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    gap: 1rem;
    width: 100%;
    padding: 1.5rem;
    height: 100%;
  }
  .imagen_perfil {
    width: 11em;
    height: 11em;
  }
  .informacion_usuario h2 {
    font-size: 3rem;
  }

  /* TOP 3 */
  .top_3 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    padding: 0.5em 0 0.8em 1em;
  }
  /* Cuando es admin */
  .top_3.admin {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .top_3 h2 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    font-size: 3rem;
  }
  .juego_1,
  .juego_2,
  .juego_3 {
    place-items: center;
    grid-row: 2 / 3;
  }
  .juego_1 {
    grid-column: 1 / 2;
  }
  .juego_2 {
    grid-column: 2 / 3;
    place-items: end;
  }
  .juego_3 {
    grid-column: 3 / 4;
  }
  .juego_1-corona,
  .juego_2-corona,
  .juego_3-corona {
    display: grid;
    align-items: center;
    justify-items: center;
  }
  /* ORO */
  .juego_1-corona {
    width: 100%;
    height: auto;
    border: 0.5em solid rgb(212, 175, 55);
  }
  /* PLATA */
  .juego_2-corona {
    width: 85%;
    height: auto;
    border: 0.5em solid rgb(192, 192, 192);
  }
  /* BRONCE */
  .juego_3-corona {
    width: 70%;
    height: auto;
    border: 0.5em solid rgb(140, 105, 60);
  }
  .btn_top {
    width: 30%;
    height: 30%;
    right: 31%;
    top: 75%;
  }
  .buscador_top_1,
  .buscador_top_2,
  .buscador_top_3 {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    width: 60%;
    margin-top: 0.5em;
  }
  .resultados_top {
    border-radius: 1rem;
  }
  .opcion_juego {
    font-size: 1.8rem;
  }

  /* GESTIÓN ADMINISTRADOR */
  .contenedor_gestionar_juegos {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 100%;
    padding: 0.5em;
  }
  .contenedor_botones_gestionar_juegos {
    gap: 2rem;
  }
  .btn_banear_usuario,
  .btn_modificar_juego,
  .btn_introducir_juego,
  .btn_borrar_juego {
    border-radius: 1rem;
    padding: 0.5rem;
  }

  /* ----  REVIEWS  ---- */
  .contenedor_2 {
    border-left: none;
    padding: 1rem;
    gap: 1.6em;
  }

  .btn_agregar_juego {
    background-color: #c8c8c8;
    border-radius: 1rem;
    height: 3rem;
    font-size: 1.4rem;
    font-weight: 800;
  }

  /* LISTA JUEGOS GUARDADOS  */
  .lista_juegos_agregados {
    padding: 0;
  }
  .portada {
    height: 6rem;
  }
  .informacion {
    width: 60%;
  }
  .informacion a {
    font-size: 2.2rem;
  }
}
