/* FONDO */
.fondo {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: -2;
}
.fondo video {
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.fondo::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.5) 40%, rgb(0, 0, 0) 100%);
  z-index: 1; /* se queda sobre el video pero debajo del contenido */
  pointer-events: none; /* no bloquea clics */
}

/* CONTENIDO */
main {
  display: grid;
  justify-items: center;
  align-items: center;
  padding-top: 12rem;
}
.contenedor_principal {
  background-color: rgba(68, 68, 68, 0.5); /* Color de fondo */
  color: white;
  width: 50%;
  max-width: 60rem;
  padding: 2rem;
  border-radius: 2rem;
}

/* FORMULARIO */
.formulario {
  border: 0.1rem solid;
  border-radius: 2rem;
  padding: 2rem;
  width: auto;

  display: grid;
  justify-items: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  grid-template-columns: 1fr; /* 1 columna */
  grid-template-rows: repeat(auto, 1fr); /* 5 filas */
  gap: 1.5rem; /* Espaciado entre elementos */
}
.formulario > div > input {
  background-color: rgba(68, 68, 68, 0.5); /* Color de fondo */
  border-radius: 2rem;
  width: 100%;
  height: 4rem;
  padding-left: 2rem;
}
.email,
.usuario,
.contraseña,
.confirmar_contraseña,
.crear_cuenta,
.login,
.condiciones {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 90%;
  font-size: 1.8rem;
}
.registro {
  font-size: 3rem;
}
.btn_mostrar-contraseña {
  position: absolute;
  right: 3rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0; /* elimina padding extra */
  width: 2.5rem; /* tamaño fijo del botón */
}
.btn_mostrar-contraseña img {
  width: 100%;
}
.condiciones {
  width: 100%;
  font-size: 1.5rem;
  gap: 1.5rem;
}
.btn_crear_cuenta {
  background-color: #c8c8c8;
  border-radius: 1rem;
  height: 3rem;
  width: 40%;
  font-size: 1.8rem;
  font-weight: 550;
  cursor: pointer;
}
.login {
  font-size: 2.8rem;
  gap: 2.5rem;
}
.btn_registro_login {
  color: #00f6d1;
  font-size: 1.8rem;
  font-weight: 900;
  border: none; /* Elimina el borde */
  outline: none; /* Elimina el contorno al hacer clic */
  background: none; /* Si quieres quitar el fondo */
  cursor: pointer;
}
.formulario input::placeholder,
.formulario > div > input {
  color: white;
  font-size: 1.6rem;
}

/* ERRORES */
.error {
  color: red;
  display: none;
}

/* ------------------------------------------------------------------------ */
/* ---------------------------- RESPONSIVE !!! ---------------------------- */
/* ------------------------------------------------------------------------ */
@media (max-width: 480px) {
  main {
    display: grid;
    justify-items: center;
    align-items: center;
    padding-top: 12rem;
  }
  .contenedor_principal {
    width: 80%;
    padding: 1rem;
    border-radius: 1.5rem;
  }

  /* ---- FORMULARIO ---- */
  .formulario {
    border-radius: 1.5rem;
    padding: 1.5rem;
    gap: 1.5rem; /* Espaciado entre elementos */
  }
  .formulario > div > input {
    border-radius: 1.5rem;
    height: 3rem;
    padding-left: 1.5rem;
  }
  .email,
  .usuario,
  .contraseña,
  .confirmar_contraseña,
  .crear_cuenta,
  .login,
  .condiciones {
  }
  .registro {
  }
  .btn_mostrar-contraseña {
    width: 1.8rem; /* tamaño fijo del botón */
  }
  .btn_mostrar-contraseña img {
  }
  .condiciones {
    justify-self: center;
    width: 90%;
  }
  .btn_crear_cuenta {
    width: 50%;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .login {
    font-size: 2rem;
    gap: 2.2rem;
  }
  .btn_registro_login {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .formulario input::placeholder {
    color: rgb(164, 164, 164);
  }
  .formulario > div > input {
    color: rgb(255, 255, 255);
  }
  .formulario input::placeholder,
  .formulario > div > input {
    font-size: 1.4rem;
  }

  /* ERRORES */
  .error {
    color: rgb(189, 0, 0);
    display: none;
    font-size: 2rem;
  }
}
